<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>Comp output</title>

  <link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />

  <!-- bower:js -->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/lib/toastr/toastr.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular-resource/angular-resource.js"></script>
  <script src="/lib/angular-route/angular-route.js"></script>
  <!-- endbower -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/lib/toastr/toastr.css" />
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->  
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- endinject -->  
  <!-- The main CSS file -->

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    </head>

    <!-- Declare a new AngularJS app and associate the controller -->
    <body>
<div class="row">
   <h1><%=output%></h1>
</div>
      <!-- Include AngularJS from Google's CDN -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    </body>
    </html>
